html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.map {
/*     height: 65vh;
    width: 135vh; */
    z-index: 0;
/*     position: fixed; 
    top: 25vh; */
}
#legendContent {
    outline: 1px solid black;
/*     position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 1;
    padding: 10px; */
/*     max-width: 75%; */
    max-height: 100%;
    background-color: #FFFFFF;
}
#legendContent.hidden {
     display: none;
}
#legendShowHideButton {
    float: right;
    margin-left: 10px;
}
.center-wrap {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 10px;
    width: 100%;
    pointer-events: none;
    overflow: auto;
    background-color: transparent;
    background-color: rgba(0,0,0,0);
}
.center-content {
    position: relative;
    margin: auto;
    padding: 10px;
    width: 500px;
    pointer-events: all;
}
#playbackControls {
    background-color: #FFFFFF;
}
#currentDateDisplayed {
/*     float: right; */
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#nameContainer {
/*     position: absolute; */
/*     right: 0px; */
/*     top: 25vh; */
/*     width: calc(100vw - 135vh); */
    overflow: scroll;
    max-height: calc(100vh - 60px - 60px);
}
.nameDisplay {
    margin: 0px;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1em;
}
header {
    
}