{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css" type="text/css">
    <link rel="stylesheet" href="{% static 'map/css/map.css' %}" type="text/css">
    <title>TDOR 2017</title>
</head>

<body>
    <div id="map" class="map">
        <div class="center-wrap">
            <div id="playbackControls" class="center-content">
                <h1>
                    Honoring our siblings murdered during 2017.
                </h1>
                <button id="playbackStart">Start</button>
                <button id="playbackStop">Stop</button>
                <button id="playbackReset">Reset</button>
                <p id="currentDateDisplayed">
                    <b>Current Date Displayed: <span id="currentDate"></span></b>
                </p>
            </div>
        </div>
        <div id="legend">
            <p>
                <b>About this Map</b>
                <button id="legendShowHideButton">More</button>
            </p>
            <div id="legendContent" class="hidden">
                <p>This map is best viewed full screen on a desktop display</p>
                <p>This map shows the deaths of transgender folks over the year 2017 (from 2016/11/20 to 2017/11/20). Each week of the year passes in about one second. You can control the playback with the buttons at the top of the page.</p>
                <p>When each death happens, it starts as a solid red dot, which slowly fades over the course of a month.</p>
                <p>Date and location of deaths sourced from Abernathey, M. <i>Memorializing 2017</i>. Retrieved Nov 20, 2017 from <a href="https://tdor.info/" target="_blank">https://tdor.info/<a>.</p>
                <p>Date and location of deaths were automatically parsed and located using Google's Geocoding API and have not been reviewed for accuracy</p>
                <p>This code &copy; Brynne Farrell <a href="mailto:brynne.farrell@gmail.com" target="_blank">brynne.farrell@gmail.com</a>. Last updated 2017/11/20.</p>
            </div>
        </div>
    </div>
    <div id="nameContainer">
        <h2>
            Name and date of murder
        </h2>
        <div id="nameList">
            
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js" type="text/javascript"></script>
    <script src="{% static 'map/js/map.js' %}" type="text/javascript"></script>
    <script src="{% static 'map/js/legend.js' %}" type="text/javascript"></script>
    <script src="{% static 'map/js/list.js' %}" type="text/javascript"></script>
</body>

</html>